// extra small devices: Smartphones Mobiles (Portrait)
@mixin xs {
	@media (min-width: 320px) and (max-width: 480px) {
		@content;
	}
}
// small devices: Low Resolution Tablets, Mobiles (Landscape)
@mixin sm {
	@media (min-width: 481px) and (max-width: 767px) {
		@content;
	}
}
// medium devices: Tablets, Ipads (landscape)
@mixin md {
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		@content;
	}
}
// medium large devices: Tablets, Ipads (portrait)
@mixin lg {
	@media (min-width: 768px) and (max-width: 1024px) {
		@content;
	}
}
// large devices: Laptops, Desktops
@mixin xl {
	@media (min-width: 1025px) and (max-width: 1280px) {
		@content;
	}
}
// extra large devices: Desktops
@mixin xxl {
	@media (min-width: 1281px) {
		@content;
	}
}
// style for the photo gallery

.photo-gallery {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: 500px;
	margin: 0 auto;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.photo-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.photo {
	display: inline-block;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: all 0.6s linear;
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
		opacity: 0.6;
	}
}

.caption {
	display: flex;
  align-items: center;
	position: absolute;
	top: 45%;
	left: 50%;
	margin: 0;
	padding: 0;
	transform: translateX(-50%);
	color: white;
	white-space: normal;
	transition-timing-function: ease-in;
	@include xs { font-size: 20px; }
	@include sm { font-size: 30px; }
	@include md { font-size: 35px; }
	@include lg { font-size: 40px; }
	@include xl { font-size: 45px; }
	@include xxl { font-size: 50px; }
}
// style for the arrows

.fa {
	color: white;
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
}

.fa-angle-left {
	left: 20px;
	transition: left 0.5s;

	&:hover {
		left: 15px;
	}
}

.fa-angle-right {
	right: 20px;
	transition: right 0.5s;

	&:hover {
		right: 15px;
	}
}

// style for caption
.caption-enter {
	opacity: 0.01;
}

.caption-enter.caption-enter-active {
	opacity: 1;
	transition: opacity 0.6s ease-in;
}

.caption-leave {
	opacity: 1;
}

.caption-leave.caption-leave-active {
	opacity: 0.01;
	transition: opacity 0.6ms ease-in;
}
