// style for the photo gallery
.photo-gallery {
	position: relative;
  width: 100%;
  min-height: 100vh;
  height: 500px;
	margin: 0 auto;
	cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.photo-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.photo {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
	transition: all 0.6s linear;
	text-align: center;
	&:before {
	  content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
		opacity: .6;
  }
}

.caption {
	display: inline-block;
	top: 40%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 45px;
	color: white;
	white-space: normal;
	transition-timing-function: ease-in;
}

// style for the arrows
.fa {
  color: white;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
}

.fa-angle-left {
  left: 20px;
  transition: left 0.5s;
  &:hover {
    left: 15px;
  }
}

.fa-angle-right {
  right: 20px;
  transition: right 0.5s;
  &:hover {
    right: 15px;
  }
}


.caption-enter {
  opacity: 0.01;
}

.caption-enter.caption-enter-active {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}

.caption-leave {
  opacity: 1;
}

.caption-leave.caption-leave-active {
  opacity: 0.01;
  transition: opacity 0.6ms ease-in;
}
